<h1>Heads or Tails?</h1>
<p>Click on the coin you think will be tossed.</p>

<%= link_to image_tag("coin/heads.jpg"), flip_path("heads") %>
<%= link_to image_tag("coin/tails.jpg"), flip_path("tails") %>