<h1>Hello!</h1>
<h3>Welcome to Rock Paper Scissors! Pick a choice.</h3>

<% for item in ["rock", "paper", "scissors"] do %>
	<%= link_to image_tag("rock_paper_scissors/#{item}.jpg"), sign_path(item) %>
<% end %>