<h1>Welcome to Rewsly</h1>

<%= form_for 'root_path', method: :get do %>
	<%= text_field_tag :query, params[:query]	%>
	<%= submit_tag "Search" %>
<% end %>



<% @story.each do |story| %>
<h3><%= link_to "#{story.title}", story_path(story.id) %> </h3>
<% end %>