<h1>Your new Ritly!</h1>

<p>Your previous URL was: <%= @url.url %></p>
<p>Your new Ritly is: <%= link_to "localhost:/3000#{@url.random_code}", @url.url %>
	</p>



<!-- #{request.protocol}#{request.host_with_port}/#{@url.random_code} -->