<h1>Choose a department</h1>

<%#= @form.each do |f| %>
<div class="field">
	    <%#= f.label :form_department %><br>
	    <%#= collection_select :form_department, Form::DEPARTMENT, :to_s, :to_s %>
	 
 <%# end %>
 <%#= select_tag('form', options_for_select(Form::DEPARTMENT, :to_s { |s| s.form_department })) %>
 
 <%# @department.each do |x| %>
  <%#= x %>
 
  <%= select_tag "department", options_for_select(@department) %>
  
  <%# end %>
</div>

<% @form.each do |form| %>
	<% if form.form_department == "Clerk" %>
 		<%= form.form_name %>
 	<% else %>
 		<p>No forms for that department.</p>
 	<% end %>
<% end %>
