<h1>Welcome to the Game Center</h1>
<h3>We feature an amazing selection of games. Pick your favorite below.</h3>

<table>
	<tr>
		<td><%= link_to image_tag("games/secret-number.jpg"), guess_path %></td><br>
		<td><%= link_to image_tag("games/rock-paper-scissors.jpg"), throw_path %></td><br>
		<td><%= link_to image_tag("games/dice.jpg"), toss_path %></td><br>
	</tr>
</table>