<h1>New Chirp</h1>
<%= form_for @chirp do |f| %>

	<% if @chirp.errors.any? %>
		<% @chirp.errors.full_messages.each do |msg| %>
			<p><%= msg %></p>
		<% end %>
	<% end %>
	<p><%= f.text_area :body %></p>
	<p><%= f.submit "Chirp!" %></p>




<% end %>